*{
    font-family: 'Montserrat';
}
body{
    
    background-repeat: no-repeat;
    background-size: 100% 250%;
    /* background-color: #cccccc; */
}
.heading{

   text-align: center;
    color:white;
    
    font-size: 3rem;
    font-family: 'Montserrat';
   
     animation-name: fade;
     animation-duration: 3s;
 }
 .row{
    display: grid;
    grid-template-columns: 35% 15% 15% 35%;
    height: 8rem;
    margin-bottom: 20px 20px;
    
}
.dottedCard{
    background-color:black;
    
    opacity: 1;
   
    height: 17rem;
    text-align: center;
    height:100%;
    border-color: blanchedalmond;
    border-style: solid;
    border-radius: 1rem;
  
     margin: 0 auto;
    padding: 25px 25px;
    color: white;
    font-size: 22px;
}
.solidCard{
    text-align: center;
    background-color:white;
   
    opacity: 1;
  
    height: 100%;
    
    font-size: 22px;
    border-color: blanchedalmond;
    border-style: solid;
    border-radius: 1rem;
  
     margin: 0 auto;
    padding: 25px 25px;
    color: black;
    /* font-size: 24px; */

}
@keyframes fade{
    0%{
        opacity:0;
    }
   
  
    100%{
        opacity:1;
    }
}
a{
    text-decoration: none;
    
}
.button{
    
        background-color: black; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
      
}
.button:hover {
    background-color:#0178D4;
    color: black;
    
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .container{
      margin:4rem;
  }



@media (min-width:0px)
{body{
    background-color: black;
}
    
    .heading{
        font-size: 1.5rem;
    }
    .row{
        grid-template-columns: 100%;
    }
    .col{
        margin-top:2rem;
      

    }
    .rocket{
        display:none;
        visibility:hidden;
    }
  
    
}
@media (min-width:1024px)
{
   
    .heading{
        font-size: 3rem;
    }
    .row{
        grid-template-columns: 30% 10% 10% 30%;
    }
    .col{
        margin-top:2rem;
      
    }
     .rocket{
        display:none;
        visibility: hidden;
       
    } 
  
    
}
@media(min-width:1499px)
{
    .heading{
        font-size: 3rem;
    }
    @keyframes fly{
        0%{
            visibility: hidden;
            
            bottom :100%;
        }
        1%{
            bottom:99%;
            visibility: visible;
        }
      
      
       
        100%{
            opacity:1;
            bottom:3%;
            
            visibility: visible;  
          }
    }
    .row{
        grid-template-columns: 35% 15% 15% 35%;
    }
    .col{
        margin-top:2rem;
      
    }
    .rocket{
        
   
        visibility: hidden;
      display: flex;
       align-self: flex-end;
       
      
     
        position:absolute;
        right:50%;
       
        animation-name: fly;
        animation-duration: 2.5s;
       
        bottom:3%;
        opacity:1;
        visibility: visible;
        
    
        
       
       
    }
    
}