*{
    font-family: 'Montserrat';
    box-sizing: border-box;
}

    
body {
    text-align: center;
    background-color: black;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    }
    @keyframes fade{
        0%{
            opacity:0;
        }
       
        50%{
            opacity:0;
        }
        100%{
            opacity:1;
        }
    }
    @keyframes grow{
        0%{
            height:0;
        }
        100%{
            height:20rem;
        }
    }

@keyframes fly{
    0%{
        visibility: hidden;
        display: flex;
        bottom :100%;
    }
    1%{
        bottom:99%;
        visibility: visible;
    }
  
   
    100%{
        opacity:1;
        bottom: 0%;
        display:flex;
        visibility: visible;  
      }
      
}
@keyframes zoomin{
    0%{
        scale: 0;
    }
   
    100%{
        scale: 1;
    }

}

.heading{
   
   color:white;
   
   font-size: 3rem;
   font-family: 'Montserrat';
  
    /* animation-name: fade;
    animation-duration: 1.5s; */
}
.subhead{
    font-size: auto;
    font-family: 'Montserrat';
    font-weight: 600;
    text-align:center;
}

.row{
    display: grid;
    grid-template-columns: 50% 50%;
    height: auto;
    margin-bottom: 20px 20px;
    
}

.row-card{
    display: grid;
    grid-template-columns: 36% 36%;
    height: 21rem;
    /* margin: 0px; */
    /* align-content: space-between; */
}
.col {
    padding: 0px;
}


* { box-sizing: border-box; }

body { font-family: sans-serif; }

.button {
  background-color: #4f3b78; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.button:hover {
    background-color: #b030b0;
    
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

.receipt-card{

    background-color:black;
    /* background-color: black; */
    opacity: 0.6;
    width: 85%;
    /* height: 10rem; */
    height:100%;
    border-radius: 1rem;
    border: 10px #c327ab;
     margin: 0 auto;
    padding: 20px 20px;
  
}
.flip-card {
  
    /* background-color: transparent; */
    width: 300px;
    height: 300px;
    border: 1px  #f1f1f1;
    
    perspective: 1000px;
    /* animation-name:  zoomin; */
    animation-duration: 3s;
    opacity:0.9;
  }

.flip-card-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #1a1a2e;
  color: white;
  transform: rotateY(180deg);
 
}



label { margin-right: 10px; }


  .delbutton{
      height:auto;
      width:auto;
      cursor: pointer;
    
    
  }
  .rec-row{
      display:grid;
      grid-template-columns: 33% 33% 33%;
  }
  .rec4-row{
    display:grid;
    grid-template-columns: 40% 20% 20% 20%;
  }
.finalBill{
    position: relative;
    z-index: 1;

    background-color: blanchedalmond;
}

@media screen and (max-width: 500) {
    .body{
        background-image: none;
    }
    .row-card .flip-card .col {
      width: 100%;
      display: grid;
      margin-bottom: 20px;
      grid-template-columns: 100%;

    }
    .heading{
        font-size: 2rem;
    }
    
  }
